@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+CL:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F5FC;
}

.container {
    display: flex;
    justify-content: space-between;
    
}

.container__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    align-content: space-between;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    width: 400px;
    height: 100vh;
    border-radius: 32px;
    background-color: white;
    margin: 40px 40px 40px 0;
    background-image: url(imagem/High\ quality\ products\ 1\ 1\ \(4\).svg);
    background-repeat: no-repeat;
    background-position: center;
    
   
}
.container_box_copiar{
    width: 400px;
    height: 150px;
    border: solid 1px red;
    display: inline;
    position: relative;
    margin-top: 500px;
    
    

}

.container__box .mostrarTexto p{
    text-align: justify;
    width: 390px;
    border: solid 1px red;
}




.container__box-2 {
    display: flex;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
   

}

.container input {
    background-color: #F3F5FC;
    border: solid 1px #ffffff;
    color: #0A3871;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    width: 680px;
    height: 48px;
    text-align: center;

}

.container__botoes button {
    width: 328px;
    padding: 24px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
}

.copiar{
    width: 80px;
    height: 30px;
}

.copiar{
    text-align: center;
    font-size: 16px;
    width: 200px;
    height: 200px;
}

.copiar__click{
    width: 180px;
    height: 40px;
    border-radius: 24px;
}
